<div class="row">
    <div class="col-xs-12">
        <h2>Adicionar filme</h2>

        <form action="#" #movieForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input type="text" name="title" class="form-control" placeholder="Título do filme" id="title" *ngIf="movie" [(ngModel)]="movie.title" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="year">Ano</label>
                        <input type="number" name="year" class="form-control" placeholder="Ano de lançamento" id="year" min="0" max="2017" *ngIf="movie" [(ngModel)]="movie.year" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="author">Autor</label>
                        <input type="text" name="author" class="form-control" placeholder="Autor do filme" id="author" *ngIf="movie" [(ngModel)]="movie.author" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="rating">Classificação</label>
                        <input type="number" name="rating" class="form-control" placeholder="Número de estrelas" min="0" max="5" id="rating" *ngIf="movie" [(ngModel)]="movie.rating" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <textarea name="description" class="form-control" id="description" *ngIf="movie" [(ngModel)]="movie.description" placeholder="Descrição do filme" required></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="image">Imagem (url)</label>
                        <input type="text" name="image" class="form-control" placeholder="http://" id="image" *ngIf="movie" [(ngModel)]="movie.image" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!movieForm.form.valid">Salvar</button>
                        <button type="button" class="btn btn-default" (click)="movieForm.reset()">Limpar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>