<div class="row book-view__container">
    <div class="col-xs-12 col-sm-4">
        <div class="book-image" [ngStyle]="{ 'background-image': 'url(' + book.image + ')'}"></div>
        <div class="rating">Nota: {{ book.rating }}/5</div>
    </div>

    <div class="col-xs-12 col-sm-8">
        <h3>{{ book.title }}</h3>
        <h4>{{ book.author }} - {{ book.year }}</h4>

        <p>{{ book.description }}</p>
    </div>
</div>

<div class="row book-view__button-group">
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a [routerLink]="['/livro/editar', book.id]" class="btn btn-default">Editar</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="delete()" class="btn btn-default">Excluir</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="toggleReaded()" class="btn" [ngClass]="{'btn-primary': readed, 'btn-default': !readed}">Já li</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="toggleWantToRead()" class="btn" [ngClass]="{'btn-primary': wantToRead, 'btn-default': !wantToRead}">Quero ler</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="toggleFavorite()" class="btn" [ngClass]="{'btn-primary': favorite, 'btn-default': !favorite}">Favoritar</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a class="btn btn-default" disabled>Comentários</a>
    </div>
</div>

<app-book-list title="Livros sugeridos"></app-book-list>
<app-book-list title="Livros que quero ler" type="wantToRead"></app-book-list>
<app-book-list title="Livros lidos" type="readed"></app-book-list>
<app-book-list title="Livros favoritados" type="favorite"></app-book-list>
