<div class="row" *ngIf="movies && movies.length > 0">
    <div class="col-xs-12">
        <h2>{{ title }}</h2>

        <ul class="list-item row">
            <ng-template ngFor let-movies let-i="index" [ngForOf]="movies">
                <li class="col-xs-6 col-sm-4 col-md-2" *ngIf="movies">
                    <a [routerLink]="['/filme', movies.id]" [ngStyle]="{ 'background-image': 'url(' + movies.image + ')'}">
                        <span class="list-item__overlay">
                            <span class="list-item__container">
                                <span class="list-item__author">{{ movies.author }}</span>
                                    <span class="list-item__title">{{ movies.title }}</span>
                            </span>
                        </span>
                    </a>
                </li>
            </ng-template>
        </ul>
    </div>
</div>
