<div class="row movie-view__container">
    <div class="col-xs-12 col-sm-4">
        <div class="movie-image" *ngIf="movie" [ngStyle]="{ 'background-image': 'url(' + movie.image + ')'}"></div>
        <div class="rating" *ngIf="movie">Nota: {{ movie.rating }}/5</div>
    </div>

    <div class="col-xs-12 col-sm-8">
        <h3 *ngIf="movie">{{ movie.title }}</h3>
        <h4 *ngIf="movie">{{ movie.author }} - {{ movie.year }}</h4>

        <p *ngIf="movie">{{ movie.description }}</p>
    </div>
</div>

<div class="row movie-view__button-group">
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a *ngIf="movie && currentUser && currentUser.role == 'role_user'" [routerLink]="['/filme/editar', movie.id]" class="btn btn-default">Editar</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a *ngIf="currentUser && currentUser.role == 'role_user'" (click)="delete()" class="btn btn-default">Excluir</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="toggleReaded()" disabled class="btn" [ngClass]="{'btn-primary': readed, 'btn-default': !readed}">Já li</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="toggleWantToRead()" disabled class="btn" [ngClass]="{'btn-primary': wantToRead, 'btn-default': !wantToRead}">Quero ler</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a (click)="toggleFavorite()" disabled class="btn" [ngClass]="{'btn-primary': favorite, 'btn-default': !favorite}">Favoritar</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
        <a class="btn btn-default" disabled>Comentários</a>
    </div>
</div>

<app-movie-list title="Filmes sugeridos"></app-movie-list>
<!-- <app-movie-list title="Filmes que quero ler" type="wantToRead"></app-movie-list>
<app-movie-list title="Filmes lidos" type="readed"></app-movie-list>
<app-movie-list title="Filmes favoritados" type="favorite"></app-movie-list> -->
